/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
.body{
    font-family: 'Ubuntu','sans-serif';
    margin:0;
    background-color: #caebdb !important;
}

.btn{
margin: 5px;
}

.landing-page{
background:white url("assets/ecommerce.jpg")no-repeat scroll center;
background-size: cover;
height: 100vh;
color: lightseagreen;
}
.wrapper{
background-color:  rgba(0,0,0,0.6);
height: 100%;
}