<div
  class="container-fluid login-section d-flex justify-content-center align-items-center"
>
  <div class="card login-card shadow-lg">
    <!-- Card header -->
    <div class="card-header p-3">Login</div>
    <!-- Card body -->
    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="row">
          <div class="col-xl-12 mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="example@email.com"
              formControlName="email"
            />
            <div
              *ngIf="
                loginForm.controls['email'].hasError('required') &&
                loginForm.controls['email'].touched
              "
              class="text-danger"
            >
             e-mail obbligatoria!
            </div>
          </div>
          <div class="col-xl-12">
            <label for="password" class="form-label">password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="********"
              formControlName="password"
            />
            <div
              *ngIf="
                loginForm.controls['password'].hasError('required') &&
                loginForm.controls['password'].touched
              "
              class="text-danger"
            >
              password obbligatoria!
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Card footer -->
    <div class="card-footer">
      <a routerLink="/register">
        clicca qui per registrarti
      </a>
      <button
        class="btn btn-primary float-end"
        (click)="invia()"
        [disabled]="!this.loginForm.valid"
      >
        Login
      </button>
    </div>
  </div>
</div>
