<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        <i class="fa fa-shopping-cart mr-2"></i>Zimbo-E-Commerce
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/prodotti/display" class="nav-link">Prodotti</a>
          </li>
          <li class="nav-item">
            <a routerLink="/prodotti/admin" class="nav-link">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container mt-3">
<div class="row">
<div class="col">
<p class="h3 text-success">Nuovi Prodotti</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil soluta ipsa asperiores magni odio debitis eaque excepturi, voluptatum consequatur ad minus? Excepturi expedita maxime eaque amet magnam! Nam, eos.</p>
</div>
</div>
</div>
<!--Empity Fields-->
<div class="container">
<div class="row">
<div class="col-md-4">
  <div *ngIf="isEmptyFields" class="alert alert-danger alert-dismissible fade show">
    <span>Perfavore compila i campi</span>
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>
</div>
</div>
</div>

<div class="container mt-3">
  <div class="row">
      <div class="col-md-4">
          <form (submit)="submitCreateProdotti()">
              <div class="mb-3">
                  <input 
                      name="nome"
                      [(ngModel)]="prodotti.nome"
                      type="text" class="form-control" placeholder="Nome">
              </div>

              <div class="mb-3">
                  <input
                      name="immagine"
                      [(ngModel)]="prodotti.immagine"
                      type="text" class="form-control" placeholder="Immagine">
              </div>

              <div class="mb-3">
                  <input 
                      name="prezzo"
                      [(ngModel)]="prodotti.prezzo"
                      type="text" class="form-control" placeholder="Prezzo">
              </div>

              <div class="mb-3">
                  <input 
                      name="quantità"
                      [(ngModel)]="prodotti.quantity"
                      type="text" class="form-control" placeholder="Quantità">
              </div>

              <div class="mb-3">
                  <textarea 
                      name="info"
                      [(ngModel)]="prodotti.info"
                      rows="4" class="form-control" placeholder="Informazioni"></textarea>
              </div>
              <div class="mb-3">
                  <input type="submit" class="btn btn-success btn-sm" value="Creazione">
              </div>
          </form>
      </div>
  </div>
</div>